body{
	margin:1%;
	padding:1%;
	color: rgb(197, 17, 17);
	border: 2px solid #8a2be2;
	background-image: url("../images/portfolio-background-image-5.jpg");
}

aside {
	font-style: italic;
	color: rgb(78, 79, 147);
	font-weight: bolder;
	/* backdrop-filter: invert(100%); */
}

/* Animation */
@keyframes shake {
	0%   { transform: translate(1px, 1px) rotate(0deg);    }
	10%  { transform: translate(-1px, -2px) rotate(-1deg); }
	20%  { transform: translate(-3px, 0px) rotate(1deg);   }
	30%  { transform: translate(3px, 2px) rotate(0deg);    }
	40%  { transform: translate(1px, -1px) rotate(1deg);   }
	50%  { transform: translate(-1px, 2px) rotate(-1deg);  }
	60%  { transform: translate(-3px, 1px) rotate(0deg);   }
	70%  { transform: translate(3px, 1px) rotate(-1deg);   }
	80%  { transform: translate(-1px, -1px) rotate(1deg);  }
	90%  { transform: translate(1px, 2px) rotate(0deg);    }
	100% { transform: translate(1px, -2px) rotate(-1deg);  }
  }
  
.vibrated_animation img:hover {
	animation: shake 5s linear 0.5s 3 alternate forwards;
}

.font_awesome {
	font-size: 0.75em;
	color: rgb(178, 7, 7);
}

h1{
	font-size: 2em; 
	font-weight: bold;
	color: blueviolet;
}

.gallery_heading {
	font-family: 'Sofia';
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: rgb(42, 15, 148);
	font-style: oblique;
}

h3 {
	font-family: 'Courier New', Courier, monospace;
}

nav li{
	background-color: lightyellow;
	padding: 2vw;
	width: fit-content;
	border:1px solid black;
	display: inline-block;
}

.active{
	background: aliceblue;
    text-decoration: underline;
	text-align: center;
	text-transform: uppercase;
}

.active a{
	text-decoration: none;
}

.brief_intro {
    text-align: center;
    float: right;
}

.company_logo {
    float: right;
    height: 50px;
    width: auto;
	backdrop-filter: invert(40%);
	padding: 3px;
}

.gallery-skip-to-main-link {
	border: 1px dashed #000000;
	background-color: darkolivegreen;
	color: white;
	padding: 1%;
}

img{
    height: 175px;
	width: auto;
    border: 2px solid rgb(13, 13, 19);
    border-radius: 8px;
    margin: 10px;
	padding: 1px;
	display: inline-block;
}

img:hover, img:focus {
    box-shadow: 10px 10px 5px #1f61d3
}

a:visited{
	text-transform: none;
}

footer {
	width: 50%;
	height: 1%;
	padding: 0.5vw;
	margin: 1px;
	border: 1px dotted silver;
}

@media screen and (min-width: 500px) {
	body {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 2px;
		row-gap: 1px;
		grid-template-rows: 1fr 4fr 2fr 1fr;
	}
	header {
		grid-row: 1 / 2;
	}
	main {
		grid-row: 2 / 3;
	}
	aside {
		grid-row: 3 / 4;
		align-self: center;
	}
	footer {
		grid-row: 4 / 5;
	}
	.gallery_img {
		display: flex;
		flex-direction: column;
	}	
}

@media screen and (min-width: 700px) {
	body {
		display: grid;
		grid-template-columns: 3fr 1fr;
		column-gap: 2px;
		row-gap: 1px;
		grid-template-rows: 1fr 4fr 1fr;
	}
	header {
		grid-row: 1 / 2;
		grid-column: 1 / -1;
	}
	main {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}
	aside {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		align-self: end;
	}
	footer {
		grid-row: 3 / 4;
		grid-column: 1 / -1;
	}

	.gallery_img {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}	
}

@media (prefers-reduced-motion: reduce) {
	
	.vibrated_animation img {
		animation: none;
  }
}
  